    <!-- Print List section Hidden -->
    <div id="list-section" style="display: none;">
        <span style="font-family:Arial,Tahoma,sans-serif;font-size:11pt;text-align:center;">
            Total:
        </span>
        <span style="font-family:Arial;font-size:10pt;text-align:center;font-weight:bold;color:red">
            {{otherlist.length}}
        </span>
        <table style="border: 1px solid black; border-collapse: collapse;">
          <thead class="thead-inverse">
          <th style="width: 70px;font-size: 60%;">ID Number</th>
          <th style="width: 70px;font-size: 60%;">Add date</th>
          <th style="width: 25px;font-size: 70%;">Agency</th>
          <th style="width: 175px;font-size: 80%;">Name</th>
          <th style="width: 10px;font-size: 80%;">Sex</th>
          <th style="width: 10px;font-size: 80%;">Age</th>
          <th style="width: 10px;font-size: 75%;">Nation</th>
          <th style="width: 10px;font-size: 80%;">Check-In</th>
          <th style="width: 10px;font-size: 80%;">Check-Out</th>
          <th style="width: 50px;font-size: 50%;">Week</th>
          <th style="width: 50px;font-size: 50%;">Plan</th>
          <th style="width: 70px;font-size: 50%;">Room Type</th>
          <th style="width: 50px;font-size: 50%;">Pick-up</th>
          <th style="width: 50px;font-size: 50%;">Meal</th>
          <th style="width: 50px;font-size: 50%;">Repeater</th>
          <th style="width: 120px;font-size: 80%;">Dorm/Hotel/<br>Condo/Walkin</th>
          <!--<th style="width: 120px;font-size: 80%;">Hotel</th>-->
          <th style="width: 120px;font-size: 60%;">NOTE for OP</th>
          <th style="width: 70px;font-size: 50%;">ARRIVE<br>DAY</th>
          <th style="width: 70px;font-size: 50%;">ARRIVE<br>TIME</th>
          <th style="width: 70px;font-size: 50%;">FLIGHT<br>NUMBER</th>
          <th style="width:60px;font-size: 70%;">Pickup<br>By</th>
          <th style="width:80px;font-size: 70%;">Signature</th>

          </thead>
          <tbody>
          <tr *ngFor="let o of otherlist" style="border: 1px solid black; border-collapse: collapse; text-align:center; font-family: Arial, Helvetica, sans-serif; font-size: 80%;">
              <td id="id-info">{{o.id_number}}</td>
              <td id="add-date" style="font-size:11px;">{{o.created_at | date: 'dd-MMM'}}</td>
              <td>{{o.agent_name}}</td>
              <td id="passportname-info" style="font-size:13px;">{{o.student_name}}|{{o.passport_name}}</td>
              <td>{{o.sex===1?'M':'F'}}</td>
              <td>{{o.age}}</td>
              <td id="countrycode-info">{{o.country_code}}</td>
              <td>{{o.checkin_date | date: 'MM/dd/yyyy(EE)'}}</td>
              <td>{{o.checkout_date | date: 'MM/dd/yyyy(EE)'}}</td>
              <td id="term-info">{{o.term}}</td>
              <td id="course-info">{{o.course}}</td>
              <td>
                  <span *ngIf="o.accommodation_id1 != 7 && o.accommodation_id1 != 8">
                      <span *ngIf='o.room_id1==1 || o.room_id1 == 6 || o.room_id1 == 9 || o.room_id1 == 12 || o.room_id1 == 15'>Single</span>
                      <span *ngIf='o.room_id1==2 || o.room_id1 == 7 || o.room_id1 == 10 || o.room_id1 == 13 || o.room_id1 == 16'>Twin</span>
                      <span *ngIf='o.room_id1==3 || o.room_id1 == 8 || o.room_id1 == 11 || o.room_id1 == 14 || o.room_id1 == 17'>Triple</span>
                      <span *ngIf='o.room_id1==4'>Quad</span>
                      <span *ngIf='o.room_id1==5'>Hex</span>
                  </span>
                  <span *ngIf="o.accommodation_id1 == 7 || o.accommodation_id1 == 8">
                      <span>(walkin)</span>
                  </span>
              </td>
              <td>{{o.options_pickup===1?'Yes':'No'}}</td>
              <td>{{o.options_meals===1?'Yes':'No'}}</td>
              <td id="repeater">{{o.repeater===1?'Yes':'No'}}</td>
              <td id="dorm">{{o.dormitory_room_name}}</td>
              <!--<td id="hotel">{{o.hotel_name}}</td>-->
              <td id="noteforop">{{o.note_for_op}}</td>
              <td id="arrivaldate">{{o.arrival_date | date: 'MM/dd'}}</td>
              <td id="arrivaltime">
                  <span *ngIf="o.arrival_time">{{o.arrival_time | date: 'HH:mm'}}</span>
              </td>
              <td id="flightno">{{o.flight_no}}</td>
              <td id="signature"></td>
              <td id="pickupby"></td>
            </tr>
          </tbody>
        </table>
    </div>

    <div id="print-invoice"  style="display: none;">
        <div class="invoice">
            <span id="print-jp-invoice-confirmation-page">
                <div style="margin-bottom: 800px;text-align: left;font-size: 11pt;font-weight: bold">
                    <span style="margin-left:5em">・ご不明点がございましたら、https://qqenglish.jp/faq/をご確認くださいませ。<br></span>
                    <span style="margin-left:5em">・お申込内容に間違いがないか、お客様ご自身でもご確認お願い致します。<br></span>
                    <span style="margin-left:5em">・航空券はご到着の1週間前までに取得し、到着日時・到着時間・便名をお知らせください。<br></span>
                    <span style="margin-left:5em">お客様のピックアップ対応可能時間は日曜日の8時から24時までにセブ<br></span>
                    <span style="margin-left:5em">・マクタン空港ご到着予定の便となっております。<br></span>
                    <span style="margin-left:5em">お客様の寮のチェックインは日曜日、チェックアウトは土曜日が原則となっております。<br></span>
                    <span style="margin-left:5em">・振り込み手数料はお客様にてご負担下さい。<br></span>
                </div>
            </span>
            <span id="print-jp-invoice-confirmation-page-agent">
                <div style="margin-bottom: 800px;text-align: left;font-size: 11pt;font-weight: bold">
                    <span style="margin-left:5em">・ご不明点がございましたら、https://qqenglish.jp/faq/をご確認くださいませ。<br></span>
                    <span style="margin-left:5em">・お申込内容に間違いがないか、お客様ご自身でもご確認お願い致します。<br></span>
                    <span style="margin-left:5em">・航空券はご到着の1週間前までに取得し、到着日時・到着時間・便名をお知らせください。<br></span>
                    <span style="margin-left:5em">お客様のピックアップ対応可能時間は日曜日の8時から24時までにセブ<br></span>
                    <span style="margin-left:5em">・マクタン空港ご到着予定の便となっております。<br></span>
                    <span style="margin-left:5em">お客様の寮のチェックインは日曜日、チェックアウトは土曜日が原則となっております。<br></span>
                </div>
            </span>
            <span id="print-jp-invoice-invoice-page">
                <div style="width: 55%; float:right">
                    <span style="margin-left:8em">【VISA fee】</span>
                    <table frame="box" style="width:70%;text-align: center;font-size: 11pt;font-weight: bolder;
                    float:right; margin-left:45%;margin-right:20%;outline-style: solid;margin-bottom: 10px;" border="0">
                        <tr>
                            <th style="text-align: center;">Visit duration</th>
                            <th style="text-align: center;">Additional</th>
                            <th style="text-align: center;">Total</th>
                        </tr>
                        <tr>
                            <td>30days</td>
                            <td>Free</td>
                            <td>Free</td>
                        </tr>
                        <tr>
                            <td>59days</td>
                            <td>3340</td>
                            <td>3340 PHP</td>
                        </tr>
                        <tr>
                            <td>89days</td>
                            <td>4310</td>
                            <td>7650 PHP</td>
                        </tr>
                        <tr>
                            <td>119days</td>
                            <td>2640</td>
                            <td>10290 PHP</td>
                        </tr>
                        <tr>
                            <td>149days</td>
                            <td>2640</td>
                            <td>12930 PHP</td>
                        </tr>
                        <tr>
                            <td>179days</td>
                            <td>2640</td>
                            <td>15570 PHP</td>
                        </tr>
                    </table>
                </div>
            </span>
            <span id="print-non-jp-invoice-yen">
                <div style="width: 55%; float:right">
                    <span style="margin-left:8em">【VISA fee】</span>
                    <table frame="box" style="width:70%;text-align: center;font-size: 12pt;font-weight: bolder;
                    float:right; margin-left:45%;margin-right:20%;outline-style: solid;margin-bottom:4px;"border="0">
                        <tr>
                            <th style="text-align: center;">Visit duration</th>
                            <th style="text-align: center;">Additional</th>
                            <th style="text-align: center;">Total</th>
                        </tr>
                        <tr>
                            <td>30days</td>
                            <td>Free</td>
                            <td>Free</td>
                        </tr>
                        <tr>
                            <td>59days</td>
                            <td>3340</td>
                            <td>3340 PHP</td>
                        </tr>
                        <tr>
                            <td>89days</td>
                            <td>4310</td>
                            <td>7650 PHP</td>
                        </tr>
                        <tr>
                            <td>119days</td>
                            <td>2640</td>
                            <td>10290 PHP</td>
                        </tr>
                        <tr>
                            <td>149days</td>
                            <td>2640</td>
                            <td>12930 PHP</td>
                        </tr>
                        <tr>
                            <td>179days</td>
                            <td>2640</td>
                            <td>15570 PHP</td>
                        </tr>
                    </table>
                </div>
            </span>
            <span id="print-non-jp-invoice-dollars">
                <div style="float: left;margin-left: 5em; font-size: 12pt;">
                    <div style="width: 30%; float:left"><br><strong
                            style="color:blue">ACCOUNT NUMBER</strong><br><br>
                        BANK NAME:<br>
                        ACCOUNT NUMBER:<br>
                        COMPANY NAME:<br>
                        BANK ADDRESS:<br><br>
                        SWIFT CODE:<br>
                        BRANCH CODE:<br>
                    </div>
                    <div style="width: 70%; float:right;margin-bottom: 150px;"><br><br><br>
                        METROPOLITAN BANK AND TRUST COMPANY<br>
                        602-7602-908956<br>
                        REAL GREATENGLISH CORPORATION<br>
                        CEBU SALINAS BRANCH - AMON TRADING CORP. <br>BLDG.,SALINAS DRIVE, CEBU CITY 6000
                        MBTCPHMM<br>
                        602<br>
                    </div>
                </div>
            </span>
        </div>
    </div>

    <div id="print-accept-letter" style="display: none;">
        <span id="itp-accept-template" style="width:100%;text-align: left;">
            <p style="text-indent:50px">This is to confirm that we have received the Enrollment Form for the following student and that the student has been accepted as a full time English Language Student of Real Great English.<br></p>
		    <p style="text-indent:50px">We guarantee this student will obey the laws, rules and regulation of the Philippines, and leave before their visa expires. We will assist this student to process extension or conversion of their visa in the Philippines.<br></p>
		    <p style="text-indent:50px">We will provide meal and accommodation during the whole period of the stay.<br></p>
		    <p style="text-indent:50px">Accommodation address: BLK3, LOT5, Park Vista, APAS, Cebu city, Cebu Philippines.<br></p>
        </span>
        <span id="sfc-accept-template" style="width:100%;text-align: left;">
            <p style="text-indent:50px">This is to confirm that we have received the Enrollment Form for the following student and that the student has been accepted as a full time English Language Student of Real Great English.<br></p>
		    <p style="text-indent:50px">We guarantee this student will obey the laws, rules and regulation of the Philippines, and leave before their visa expires. We will assist this student to process extension or conversion of their visa in the Philippines.<br></p>
		    <p style="text-indent:50px">We will provide meal and accommodation during the whole period of the stay.<br></p>
		    <p style="text-indent:50px">Accommodation address: Looc Maribago, Lapu-Lapu City, Cebu Philippines.<br></p>
        </span>
    </div>

    <div id="airport-pickup-template" style="display: none;">
        <div style="text-align:center;font-size:13pt;margin-top:5px;">
            請走出機場大門尋找手持QQEnglish接機牌的學生經理，緊急狀況請播打電話給接機人聯繫人<br>
        </div>
        <div style="text-align:center;font-size:11pt;">
            IT Park 校區地址：8th floor skyrise 4, IT Park, Cebu City, Philippines.<br>
            Seafront 校區地址：Looc, Maribago Lapu-Lapu City, Cebu,  Philippines <br>
        </div>
        <div style="text-align:center;">
            <img height="60%" width="85%" src="assets/images/dom_int_arrival_area.png"/>
        </div>
    </div>

    <div id="airport-pickup-template-en" style="display: none;">
        <div style="margin-top:20px;">
            <div align="center">
                IT Park Address：8th floor skyrise 4, IT Park, Cebu City, Philippines.<br>
                Seafront Address：Looc, Maribago Lapu-Lapu City, Cebu,  Philippines.<br><br>
                <img height="65%" width="85%" src="assets/images/dom_int_arrival_area.png"/>
            </div>
        </div>
    </div>

    <!-- Print List section -->